.transparent {
    -fx-background-color: transparent;
}

.jet {
    -fx-background-color: #363636;
}

.jet-text {
    -fx-text-fill: #363636;
}

.white {
    -fx-background-color: #FDFCFC;
}

.french-gray-text {
    -fx-text-fill: #FDFCFC;
}

.button {
    -fx-background-color: #FDFCFC;
    -fx-text-fill: #363636;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-background-color: #BABABA;
    -fx-text-fill: #363636;
    -fx-opacity: 0.75;
    -fx-border-radius: 0;
}

.menu {
    -fx-font: 14px "Segoe UI Light";
}

.menu:hover {
    -fx-background-color: #BABABA;
    -fx-text-fill: #363636;
    -fx-opacity: 0.75;
}

.menu:showing {
    -fx-background-color: #BABABA;
    -fx-opacity: 0.75;
}

.menu-item {
    -fx-font: 14px "Segoe UI Light";
}

.menu-item:focused {
    -fx-background-color: #BABABA;
    -fx-text-fill: #363636;
    -fx-opacity: 0.75;
}

.menu-item:hover {
    -fx-background-color: #BABABA;
    -fx-text-fill: #363636;
    -fx-opacity: 0.75;
}

.menu-item .label {
    -fx-text-fill: #363636;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.progress-bar .bar {
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #FDFCFC;
    -fx-background-insets: 1;
    -fx-padding: 1;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #FDFCFC;
    -fx-background-insets: 1;
    -fx-padding: 1;
}

.split-pane {
    -fx-border-width: 0;
}


.tree-view .tree-cell {
    -fx-background-color: #FDFCFC;
    -fx-text-fill: #363636;
}

.tree-view .tree-cell:filled:selected {
    -fx-background-color: #BABABA;
    -fx-opacity: 0.9;
}

.tree-view .tree-cell:filled:selected {
    -fx-text-fill: #363636;
}

.tree-cell .arrow {
    -fx-background-color: #363636;
}

.tree-cell .disclosure-node {
    -fx-background-color: #363636;
}

